<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >    
<mapper namespace="com.yitai.dao.ManagerDao" >      
    

        
  
  	<!-- 根据用户名查询管理员密码-->    
    <select id="findByUserName" resultType="Manager"    
        parameterType="java.lang.String">    
        select * from Manager m where mUserName = #{mUserName}   
    </select>    
</mapper>    
